<form action="{{ url_for('user.add') }}" method=post class=add-entry>
    <h4>New User</h4>
    <table class="table table-hover table_general">
        <tr>
            <td>Username</td>
            <td>
                <input type="text" name="add_user_username" class="form-control" value="{{ previous['user_username'] }}" />
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" name="add_user_password" class="form-control" value="{{ previous['user_password'] }}" />
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" name="add_user_name" class="form-control" value="{{ previous['user_name'] }}" />
            </td>
        </tr>
        <tr>
            <td>Level</td>
            <td>
                <input type="text" name="add_user_level" class="form-control" value="{{ previous['user_level'] }}" />
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" name="add_user_email" class="form-control" value="{{ previous['user_email'] }}" />
            </td>
        </tr>
        <tr>
            <td>nethzid</td>
            <td>
                <input type="text" name="add_user_nethzid" class="form-control" value="{{ previous['user_nethzid'] }}" />
            </td>
        </tr>
        <tr>
            <td>Welcome Sound</td>
            <td>
                 <select name="add_user_welcome_sound" class="form-control">
                        <option value="">NONE</option>
                    {% for sound in sounds %}
                        <option value="sound['path']" {% if previous['user_welcome_sound'] == sound.path %}selected="selected" {% endif %}>sound['name']</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Creation Date</td>
            <td>{{ date }}</td>
        </tr>
        <tr>
            <td>Create?</td>
            <td>
                <input type="submit" value="Create" class="form-control btn-success" >
            </td>
        </tr>
    </table>
</form>
