<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yatekii">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='sites.css') }}">

    <script src="{{ url_for('static', filename='jquery-1.11.2.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='typeahead.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='backdoor.js') }}"></script>

    <title>Backdoor</title>
</head>
<body>

<!-- NAVIGATION -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">Backdoor</a>
            <a class="navbar-brand" style="float: left;" href="{{ url_for('control.open') }}"><span class="glyphicon glyphicon-log-in"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form method="GET" action="{{ url_for('search.search') }}" class="navbar-form navbar-right">
                <input class="form-control search_typeahead" placeholder="Search..." type="text" name="q">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li {% if active == 'users' %} class="active" {% endif %}><a href="{{ url_for('user.view') }}">Users</a></li>
                <li {% if active == 'tokens' %} class="active" {% endif %}><a href="{{ url_for('token.view') }}">Tokens</a></li>
                <li {% if active == 'devices' %} class="active" {% endif %}><a href="{{ url_for('device.view') }}">Devices</a></li>
                <li {% if active == 'sounds' %} class="active" {% endif %}><a href="#">Sounds</a></li>
                <li {% if active == 'logs' %} class="active" {% endif %}><a href="#">Logs</a></li>
                <li {% if active == 'settings' %} class="active" {% endif %}><a href="{{ url_for('settings.general') }}">Settings</a></li>
                <li {% if active == 'profile' %} class="active" {% endif %}><a href="{{ url_for('profile.general') }}">Profile</a></li>
                <li><a href="{{ url_for('authentication.logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- CONTENT -->

<div class="container-fluid">
    <div class="row">
        {% block content %}{% endblock %}
    </div>

    <!-- FOOTER -->

    <hr />
    <footer>
        <p>(c)Bastli 2015</p>
    </footer>

</div>
<script type="text/javascript">
    search_typeahead();
</script>


</body>


