{% extends "layout.html" %}
{% block content %}
    <div class="col-xs-12 main">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <center><div  style="width: 400px;" class="alert alert-{{ category }} col-lg-12" role="alert"><strong>{{ message }}</strong></div></center>
        {% endfor %}
        <form method="POST">
            <center><input type="text" name="username" placeholder="User" style="width: 300px;" class="form-control" /></center>
            <center><input type="password" name="password" placeholder="Password" style="width: 300px;" class="form-control" /></center>
            <center><input type="submit" name="username"  style="width: 300px;" class="form-control btn-success" value="Login"/></center>
        </form>
    </div>
{% endblock %}

