{% extends "layout.html" %}
{% block content %}
    <div class="col-xs-12 main">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }} col-lg-12" role="alert"><strong>{{ message }}</strong></div>
        {% endfor %}
        <form method="POST">
            <input type="text" name="username" class="form-control" />
            <input type="password" name="password" class="form-control" />
            <input type="submit" name="username" class="form-control btn-success" />
        </form>
    </div>
{% endblock %}

