{% extends "profile.html" %}
{% block body %}
<h4>{{ user.username }}</h4>
        <form class="change_profile_settings" action="{{ url_for('profile.change_settings') }}" method=post>
        <table class="table table-hover table_general">
            <tr>
                <td>Welcome Sound</td>
                <td>
                    <select name="change_user_device_id" class="form-control">
                        <option value="">NONE</option>
                        {% for device in devices %}
                            <option value="{{ device.id }}" {% if user.default_device.id == device.id %}selected="selected" {% endif %}>{{ device.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="change_user_id" class="invisible" title="" value="{{ user.id }}" />
                </td>
            </tr>
            <tr>
                <td>Change?</td>
                <td>
                    <input type="submit" name="change_profile" class="form-control btn-success" title="" value="Change" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}