<form action="{{ url_for('add_user') }}" method=post class=add-entry>
    <table class="table table-striped">
        <thead>
        <tr>
            <td class="col-lg-1">ID</td>
            <td class="col-lg-2">Name</td>
            <td class="col-lg-2">Level</td>
            <td class="col-lg-2">Email</td>
            <td class="col-lg-2">nethzid</td>
            <td class="col-lg-1">Welcome Sound</td>
            <td class="col-lg-1">Creation Date</td>
            <td class="col-lg-1">Create?</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td><input type="text" name="add_user_name" class="form-control" value="{{ previous['user_name'] }}" ></td>
                <td><input type="text" name="add_user_level" class="form-control" value="{{ previous['user_level'] }}" ></td>
                <td><input type="text" name="add_user_email" class="form-control" value="{{ previous['user_email'] }}" ></td>
                <td><input type="text" name="add_user_nethzid" class="form-control" value="{{ previous['user_nethzid'] }}" ></td>
                <td>
                    <select name="add_user_welcome_sound" class="form-control">
                            <option value="">NONE</option>
                        {% for sound in sounds %}
                            <option value="sound['path']" {% if previous['user_welcome_sound'] == sound.path %}selected="selected" {% endif %}>sound['name']</option>
                        {% endfor %}
                    </select>
                </td>
                <td>{{ date }}</td>
                <td><input type="submit" value="Create" class="form-control btn-success" ></td>
            </tr>
        </tbody>
    </table>
</form>
