<form action="{{ url_for('add_token') }}" method=post>
    <h4>New Token</h4>
    <table class="table table-hover table_general">
        <tr>
            <td>ID</td>
            <td>{{ token.id }}</td>
        </tr>
        <tr>
            <td>Owner</td>
            <td>
                <span class="user_typeahead">
                    <input type="text" name="add_token_owner" class="typeahead form-control user_typeahead_name" title="Token owner" value="{{ previous['token_owner_name'] }}" />
                    <input type="text" name="add_token_owner_id" class="invisible user_typeahead_id" title="" value="{{ previous['token_owner_id'] }}" />
                </span>
            </td>
        </tr>
        <tr>
            <td>Expiry Date</td>
            <td>
                <input type="text" name="add_token_expiry_date" class="form-control" title="Token expiry date" value="{{ previous['token_expiry_date'] }}" />
            </td>
        </tr>
        <tr>
            <td>Creation Date</td>
            <td>{{ date }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="Create" />
            </td>
        </tr>
    </table>
    <script type="text/javascript">

        init_edit_field('.button_change_token_expiry_date');

        remove_init();

        flashed_init();

        user_typeahead();
        device_typeahead();
    </script>
</form>
