<form action="{{ url_for('add_token') }}" method=post>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Owner</td>
            <td>Creation Date</td>
            <td>Expiry Date</td>
            <td>Create?</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>
                    <span class="user_typeahead">
                        <input type="text" name="add_token_owner" class="typeahead form-control user_typeahead_name" title="Token owner" value="{{ previous['token_owner_name'] }}" />
                        <input type="text" name="add_token_owner_id" class="invisible user_typeahead_id" title="" value="{{ previous['token_owner_id'] }}" />
                    </span>
                </td>
                <td>{{ date }}</td>
                <td><input type="text" name="add_token_expiry_date" class="form-control" title="Token expiry date" value="{{ previous['token_expiry_date'] }}" /></td>
                <td><input type="submit" class="btn btn-default" value="Create" /></td>
            </tr>
        </tbody>
    </table>
</form>
