{% extends "layout.html" %}
{% block body %}
    <h4>Add new user</h4>
    {% include 'add_user.html' %}
    <h4>Existing users</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Level</td>
            <td>Email</td>
            <td>nethzid</td>
            <td>Tokens</td>
            <td>Welcome Sound</td>
            <td>Creation Date</td>
            <td>Remove?</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>
                    <form class="change_user_level col-lg-6" action="{{ url_for('change_user_level') }}" method=post>
                        <div class="input-group">
                            <input type="text" name="change_user_level" class="form-control" title="Token owner" value="{{ user.level }}" readonly />
                            <span class="input-group-btn">
                                <button class="btn btn-default button_change_user_level" type="submit">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                                    </span>
                                </button>
                            </span>
                        </div>
                        <input type="text" name="change_user_id" class="invisible" title="" value="{{ user.id }}" />
                    </form>
                </td>
                <td>
                    <form class="change_user_email col-lg-6" action="{{ url_for('change_user_email') }}" method=post>
                        <div class="input-group">
                            <input type="text" name="change_user_email" class="form-control" title="Token owner" value="{{ user.email }}" readonly />
                            <span class="input-group-btn">
                                <button class="btn btn-default button_change_user_email" type="submit">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                                    </span>
                                </button>
                            </span>
                        </div>
                        <input type="text" name="change_user_id" class="invisible" title="" value="{{ user.id }}" />
                    </form>
                </td>
                <td>
                    <form class="change_user_nethzid col-lg-6" action="{{ url_for('change_user_nethzid') }}" method=post>
                        <div class="input-group">
                            <input type="text" name="change_user_nethzid" class="form-control" title="Token owner" value="{{ user.nethzid }}" readonly />
                            <span class="input-group-btn">
                                <button class="btn btn-default button_change_user_nethzid" type="submit">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                                    </span>
                                </button>
                            </span>
                        </div>
                        <input type="text" name="change_user_id" class="invisible" title="" value="{{ user.id }}" />
                    </form>
                </td>
                <td>[
                    {%  for token in user.tokens %}
                        <a href="{{ url_for('list_tokens', filter='id', value=token.id) }}">{{ token.id }}</a> |
                    {% else %}

                    {% endfor %}
                        <a href="{{ url_for('list_tokens', token_owner_id=user.id, token_owner_name=user.name) }}">Add</a>
                    ]
                </td>
                <td>
                    <select name="change_user_welcome_sound" class="form-control">
                            <option value="">--- NO Sound ---</option>
                        {% for sound in sounds %}
                            <option value="sound['path']" {% if previous['user_welcome_sound'] == sound.path %}selected="selected" {% endif %}>sound['name']</option>
                        {% endfor %}
                    </select>
                </td>
                <td>{{ user.creation_date }}</td>
                <td>
                    <form action="{{ url_for('remove_user') }}" method=post>
                        <input type="submit" class="form-control" value="Remove" />
                        <input name="user_id" class="form-control invisible" title="User id" value="{{ user.id }}" />
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" id="no_users">Unbelievable. No tokens here so far.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        init_edit_field('.button_change_user_level');
        init_edit_field('.button_change_user_email');
        init_edit_field('.button_change_user_nethzid');
    </script>
{% endblock %}
