{% extends "layout.html" %}
{% block body %}
    <h4>Add new token</h4>
    {% include 'add_token.html' %}
    <h4>Existing tokens</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Owner</td>
            <td>Creation Date</td>
            <td>Expiry Date</td>
            <td>Remove?</td>
        </tr>
        </thead>
        <tbody>
        {% for token in tokens %}
            <tr>
                <td>{{ token.id }}</td>
                <td>{{ token.owner.name or 'FREE' }}</td>
                <td>{{ token.creation_date }}</td>
                <td>{{ token.expiry_date }}</td>
                <td><form class="remove_form" action="{{ url_for('remove_token') }}" method=post><input type="submit" class="btn btn-default btn-danger" value="Remove" /><input name="id" class="invisible" value="{{ token.id }}" /></form></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" id="no_tokens">Unbelievable. No tokens here so far.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $.each($(".remove_form"), function (i, entry){
            $(entry).submit(function () {
                button = $(entry).find("input[type='submit']");
                if (button.val() == "Remove") {
                    button.val("Confirm");
                    return false;
                }
            });
        });
    </script>
{% endblock %}
