{% extends "profile.html" %}
{% block body %}
<h4>{{ user.username }}</h4>
<form class="change_user_password" action="{{ url_for('change', model='password', id=user.id) }}" method=post>
    <table class="table table-hover table_general">
        <tr>
            <td>Tokens</td>
            <td>
                <input type="password" name="change_user_password" class="form-control" title="Password" value="password2" />
                <input type="password" name="change_user_password_validation" class="form-control" title="Password validation" value="password1" />
                <input type="text" name="change_user_id" class="invisible" title="" value="{{ user.id }}" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="change_profile" class="form-control btn-success" title="" value="Change" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}