/* TOKENS */

#no_tokens{
    text-align: center;
}

input#add_token_owner_id {
    visibility: hidden;
}

input#token_creation_date{
    visibility: hidden;
}

span.expired{
    padding: 2px;
}

.table_general tbody tr td{
    vertical-align: middle;
}

/* USERS */

#no_users{
    text-align: center;
}

/* SEARCH */

.search_name_title{
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 5px;
    padding-left: 10px;
    line-height: 40px;
}

.button_float_left{
    float:left;
    margin-right: 5px;
}